@font-face {
    src: url(../fonts/ZillaSlab-Regular.ttf);
    font-family: font1;
    font-weight: bold;
}

.home {
    background-color:#303030;
    padding: 5%;
}

.major {
    display: flex;
    align-items: center;
    justify-content: left;
}

.title {
    font-family: font1;
    color: white;
    size: 200px;
}

.text {
    font-family: font1;
    color: white;
    size: 100px;
}

.bullettext {
    font-family: font1;
    color: white;
    size: 100px;
}
.right{
    float: right;
}