@font-face {
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
    font-family: title;
    font-weight: bold;
}

.home {
    background-color:#303030;
    padding: 12%;
}

.major {

    display: flex;
    align-items: center;
    justify-content: center;
}

.infotitle {
    font-family: title;
    color: white;
    font-size: 90px;
}

.infodescription {
    font-family: title;
    color: white;
    font-size: 50px;
}
