@font-face {
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
    font-family: roboto;
    font-weight: normal;
}

.navigation {
    background-color:#303030;  
    text-align: right;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.links{
    text-align: right;

}

.navlinkHome {
    color:#8A8A8A;
    font-family: roboto;
    font-size: 30px;
    position: relative;
    text-decoration: none;
}
.navlinkHome:hover {
    color: white;
    text-decoration: none;
}

.navlinkAbout{
    color: #6A84A8;
    font-family: roboto;
    font-size: 30px;
    position: relative;
    text-decoration: none;
    padding-left: 1%;
}
.navlinkAbout:hover {
    color: white;
    text-decoration: none;
}


.navlinkProjects{
    color: #8BBA7A;
    font-family: roboto;
    font-size: 30px;
    position: relative;
    text-decoration: none;
    padding-left: 1%;
}
.navlinkProjects:hover{
    color: white;
    text-decoration: none;
}

.navlinkResume {
    color : #AA76BF;
    font-family: roboto;
    font-size: 30px;
    position: relative;
    text-decoration: none;
    padding-left: 1%;
}
.navlinkResume:hover {
    color :white;
    text-decoration: none;
}

.navlinkSnapshots {
    color : #C19C7E;
    font-family: roboto;
    font-size: 30px;
    position: relative;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
}
.navlinkSnapshots:hover {
    color : white;
    text-decoration: none;
}
